.container-name{
    display:flex;
    justify-content:space-between;
    align-items:center;
}
.container{
    width:100%;
    max-width:960px;
    padding-bottom:100px;
}
.container-wrapper{
    display:flex;
    justify-content:center;
}
.context-top{
    display:grid;
    grid-template-columns:40% 60%
}
.coffee-img{
    display:flex;
    justify-content:center;
    max-height:450px;
}

.name{
    display:flex;
    border-bottom:1px solid black;
}
.name-left{
    width:60%;
}
.name-right{
    display:flex;
    justify-content:end;
    width:40%;
}
.type{
    display:flex;
    width:100%;
     background-color:#f4f4f2;
}
.type-wrapper{
    display:flex;
    align-items:center;
    justify-content:start;
    padding-left:25px;
    padding-top:50px;
    padding-bottom:50px;
    border-bottom:1px solid #a9a9a9;
}
.type-right h3, .type-right p{
    margin-top: 0px;    
    margin-bottom: 0px;
}
.type-right{
    padding-left:15px;
}
.more{
    display:flex;
    width:100%;
    justify-content:space-between
}
.more img{
    width:49%;
    border-radius:5px;
    max-height:450px;
}
.icon, .weight{
    display:flex;
    justify-content:end;
}
#delete, #edit{
    cursor:pointer;
    padding-left:10px;
}
.icon{
    padding-top:20px;
}